.toolTip {
    width: 39px;
    height: 63px;
    background-color: #e60000;
    color: white;
    font-size: 7px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
